* {
    text-transform: lowercase;
}
.container {
    margin: 30px auto 0;
}
header h1 a{
    color: #000;
}
summary{
    display:block;
    font-size: 18px;
}
footer {
    display: block;
    margin: 0 0 20px;
}
.hero-unit h1{
    margin: 0 0 18px;
}
.zoom {
    width: 500px;
}
.small img {
    width: 500px;
}
.large img {
    width: auto;
    background: white; 
}
#metadata-container {
    padding-bottom: 0;
}
#picture {
    width: 500px;
}