@media screen and (max-width: 940px) {
    img {
        height: auto !important;
        width: 95% !important;
    }
    .container {
        width: 95%;
    }
    .hero-unit {
        padding: 5%;
    }
}

@media screen and (max-width: 480px) {

    /* disable webkit text size adjust (for iPhone) */
    html {
        -webkit-text-size-adjust: none;
    }
}
