{% extends "base.html" %}
{% load i18n %}

{% block additional_headers %}
    <title>pictur.me | about</title>
{% endblock additional_headers %}

{% block content %}
        <h1><a href="/">pictur.me</a></h1>
        <p>pictur.me was created by <a href="//twitter.com/#!/arthurnn89">Arthur Neves</a> and <a href="//twitter.com/#!/oliviernt">Olivier Tille</a> as a hack for <a href="//pixelhackday.com">pixel hack day 2011</a> in toronto.</p>
        <p>We are both software developer at <a href="//ca.isobar.com">Isobar Canada</a>.</p>
{% endblock content %}