{% extends "base.html" %}
{% load i18n %}

{% block additional_headers %}
    <title>pictur.me | detail</title>
{% endblock additional_headers %}

{% block content %}
    <h1>pictur.me</h1>
    <section>
        <div class="show-grid row">
            <div class="span">
                <p>That's the resulting mosaic. Do you like it?</p>
                <details open>
                    <summary>Yes!</summary>
                    <p>Share it with the url: <input type="text" id="detail-url" /> or directly share to: <a href="https://twitter.com/share" class="share-tw" title="Twitter">Twitter</a> and <a href="#" class="share-fb">Facebook</a></p>
                </details>
                <details>
                    <summary>No!</summary>
                    <p>Well that's sad but why don't you give it another try... <a href="{% url home %}">retry</a></p>
                </details>
            </div>
        </div>
        <br />

        <div class="show-grid row">
            <!-- LEFT SIDE -->
            <div class="span9">
                <div id="picture" class="zoom" width="500">
                    <div class="small">
                        <img id="zoom" src="{{ pixel.thumbnail.url }}" alt="" />
                    </div>
                    <div class="large">
                        <img id="zoom" src="{{ pixel.image.url }}" alt="" />
                    </div>
                </div>
            </div>
            <!-- RIGHT SIDE -->
            <div class="span5 sidebar" id="thumbs_list">
            </div>
        </div>
    
	</section>
{% endblock content %}

