{% extends "base.html" %}
{% load i18n %}

{% block additional_headers %}
    <title>pictur.me | detail</title>
    <meta property="og:title" content="pictur.me | detail" />
    <meta property="og:type" content="image" />
    <meta property="og:url" content="{{short_url}}" />
    <meta property="og:image" content="{{ pixel.thumbnail.url }}" />
{% endblock additional_headers %}

{% block content %}
    <h1><a href="/">pictur.me</a></h1>
    <section>
        <div class="show-grid row">
            <div class="span">
                <p>That's the resulting mosaic. Do you like it?</p>
                <details open>
                    <summary>Yes!</summary>
                    <p>Share it with the url: <input type="text" id="detail-url" value="{{short_url}}" /> or directly share to: <a href="https://twitter.com/share" class="share-tw" title="Twitter">Twitter</a> and <a href="#" class="share-fb">Facebook</a></p>
                </details>
                <details>
                    <summary>No!</summary>
                    <p>Well that's sad but why don't you give it another try... <a href="{% url home %}">retry</a></p>
                </details>
            </div>
        </div>
        <br />
        <div class="show-grid row">
            <div class="span5 offset9">
                <p>Those are the tiles from <a href="//500px.com">500px</a>:</p> 
            </div>
        </div>
        <div class="show-grid row">
            <!-- LEFT SIDE -->
            <div class="span9">
                <div id="picture" class="zoom" data-picture-id="{{pixel.id}}">
                    <div class="small">
                        <img id="zoom" src="{{ pixel.thumbnail.url }}" alt="" style="height:{{ pixel.thumbnail.height }}px;width:{{ pixel.thumbnail.width }}px;" />
                    </div>
                    <div class="large">
                        <img id="zoom" src="{{ pixel.image.url }}" alt="" style="height:{{ pixel.image.height }}px;width:{{ pixel.image.width }}px;" />
                    </div>
                </div>
                <div>
                    <a href="{{ pixel.image.url }}">Full size image</a>
                </div>
            </div>
            <!-- RIGHT SIDE -->
            <div class="span5 sidebar" id="thumbs_list">
            </div>
        </div>
    
	</section>
{% endblock content %}

