{% extends "base.html" %}
{% load i18n %}

{% block additional_headers %}
    <title>pictur.me | home</title>
{% endblock additional_headers %}

{% block content %}
        <h1>picture.me</h1>
        <p>upload your pics here and get an awesome mosaic from <a href="http://500px.com">500px</a> pictures!</p>
        <p>
            <form action="/upload/" method="POST">{% csrf_token %}
                <div>
                    <input type="file" name="file">
                    <input type="submit" class="btn primary" value="beam me up scotty!">
                    <input type="reset" class="btn" value="naah, don't do nothing!">
                </div>
            </form>
        </p>
{% endblock content %}