{% if page.paginator.num_pages > 1 %}
	<div class="pagination">
	  <ul>
	  	{% if page.has_previous %}
	  		<li class="prev"><a data-page="{{ page.previous_page_number }}" href="javascript:void(0);">← Prev</a></li>
		{% endif %}
		
		{% for pnum in begin %}
			<li><a data-page="{{ pnum }}" {% if page.number == pnum %}class="active"{% endif %} href="javascript:void(0);">{{ pnum }}</a></li>
		{% endfor %}
		
		
		{% if middle %}
		    <li><strong>...</strong></li>
		    {% for pnum in middle %}
		        <li><a data-page="{{ pnum }}" {% if page.number == pnum %}class="active"{% endif %} href="javascript:void(0);">{{ pnum }}</a></li>
		    {% endfor %}
		{% endif %}
		
		
		{% if end %}
		    <li><strong>...</strong></li>
		    {% for pnum in end %}
		    	<li><a data-page="{{ pnum }}" {% if page.number == pnum %}class="active"{% endif %} href="javascript:void(0);">{{ pnum }}</a></li>
		    {% endfor %}
		{% endif %}

		{% if page.has_next %}
			<li><a data-page="{{ page.next_page_number }}" href="javascript:void(0);" class="nextPage">Next →</a></li>
		{% endif %}
	  </ul>
	</div>
	
	
{% endif %}